<footer class="footer mt-auto p-2 bg-primary"data-bs-theme="dark">
    <h3 class="text-center">Connect with us</h3>
    <div
      class="d-flex justify-content-evenly flex-wrap"
    >
      <a href="https://www.linkedin.com/in/kush-b-075211202" target="_blank">
        <i class="fab fa-linkedin-in fa-3x"></i>
      </a>
      <a
        class="text-decoration-none"
        href="https://github.com/kush8789"
        target="_blank"
      >
        <i class="fab fa-github fa-3x"></i>
      </a>
      <a href=" https://twitter.com/kush_baranwal?t=s5GAHblWxZHVnDAZZs_TnA&s=08" target="_blank">
        <i class="fab fa-twitter fa-3x"></i>
      </a>
      <a href="https://instagram.com/kushbaranwal?utm_source=qr&igshid=NGExMmI2YTkyZg%3D%3D" target="_blank">
        <i class="fab fa-instagram fa-3x"></i>
      </a>
    </div>
</footer>
  